<ion-content [fullscreen]="true">
 
    <!-- <ion-segment 
    value="pizza"
    scrollable
    mode = "md">

        <ion-segment-button *ngFor="let pelicula of peliculasRecientes" [value]="pelicula.title">
            <ion-label class="ion-text-capitalize">{{pelicula.title}}</ion-label>
        </ion-segment-button>
    </ion-segment> -->

    <swiper-container>
        <swiper-slide *ngFor="let pelicula of peliculasRecientes">
            <ion-card>
                <!-- <ion-img [src]="pelicula.backdrop_path | imagen"></ion-img> -->
            </ion-card>
        </swiper-slide>
    </swiper-container>


</ion-content>
